@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .btn {
    @apply flex items-center justify-center max-w-fit;
  }
  .btn-outlined {
    @apply btn bg-transparent hover:bg-primary-300 text-primary-300 py-1 px-4 border border-primary-300 hover:text-white hover:border-transparent rounded;
  }
  .btn-primary {
    @apply btn bg-primary-300 hover:bg-primary-200 text-white py-1 px-4 border border-primary-300 hover:text-white hover:border-transparent rounded;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
